*{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}
.sec{
  position: relative;
  width:  100%;
  height: 100vh;
  overflow: hidden;
}
.uno{
  background:url(./Images/Rionado.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sesgouno{
  position: absolute;
  bottom: 0;
  left:0;
  /* background: #000;
  height: 60px;
  width: 100%; */
  border-width: 15vh 0 0 100vw; /*vemos las manecillas en el cual arriba tenemos el 15% del height
  a la derecha el 100% del width, quitamos la parte de arriba, la mitad de un rectangulo en diagonal*/
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}
.tres{
  background: url(./Images/Runner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sesgodos{
  position: absolute;
  top: 0;
  left: 0;
  border-width:  15vh 100vw 0 0 ;
  border-style: solid;
  border-color: #fff transparent transparent transparent ;
}
.logo{
  height: 80px;
  padding: 5px;
  margin: 10px;
}
.Brasil2016{
 margin-left: 55%;
}
h1{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  color: rgb(201, 79, 8);
  font-style: italic;
}
#buttonOlympics{
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  background-color: red;
  color: white;
 margin-left: 40%;
} 

/* Imagen encabezado de la segunda pàgina */
.fondoSecond{
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  min-height: 100px;
  width: 100%;
  color: white;
}
 .secondBck{
  background-image:url(./Images/celebrando.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  justify-content: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  min-height: 100vh;
} 
/* Aqui esta nuestro estilo p la tabla */
#athletesBySport{
  background-color: rgb(58, 252, 58);
  font-family: Arial;
}
.fondTable{
  margin: 150px auto;
  width: 600px;
} 
table{
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}
th, td{
  padding: 5px;
}
thead {
  background-color: rgb(95, 250, 48);
  border-bottom: solid 5px #218b38;
  color: white;
}
tr:nth-child(even) {
  background-color: #ddd;
}
tr:hover td{
  background-color: #369681;
  color: white;
}

/* Estilo p la donut grafica*/
.chart {
  margin: 170px;
  width: 1000px;
  height: 500px;
}
select {
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.MaleFemale {
  flex-direction: row;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}