*{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}
.sec{
  position: relative;
  width:  100%;
  height: 100vh;
  overflow: hidden;
}
.uno{
  background:url(./Images/Rionado.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sesgouno{
  position: absolute;
  bottom: 0;
  left:0;
  border-width: 15vh 0 0 100vw; /*vemos las manecillas en el cual arriba tenemos el 15% del height
  a la derecha el 100% del width, quitamos la parte de arriba, la mitad de un rectangulo en diagonal*/
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}
.tres{
  background: url(./Images/Runner.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sesgodos{
  position: absolute;
  top: 0;
  left: 0;
  border-width:  15vh 100vw 0 0 ;
  border-style: solid;
  border-color: #fff transparent transparent transparent ;
}

.logo{
  width: 50%;
  height: 30%; 
  padding-left: 10%;
}

.Brasil2016{
  width:  50%;
  height: 30%;
  padding-left: 20%;  
} 
h1{
  justify-content: center;
  display: flex;
  font-size: 70%;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  color: rgb(201, 79, 8);
  font-style: italic;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
#buttonOlympics{
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  background-color: red;
  color: white;
 margin-left: 50%;
 width: 10%;
 height: 10%;
} 
 
/* Imagen encabezado de la segunda pàgina */
.fondoSecond{
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  min-height: 100px;
  width: 100%;
  color: white;
}
#secondPage{
  display: none;
}
 .secondBck{
  background-image:url(./Images/Nadadora2.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  justify-content: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  min-height: 100vh;
} 
/* Aqui esta nuestro estilo p la tabla */
#athletesBySport{
  background-color: rgb(58, 252, 58);
  font-family: Arial;
}
.fondTable{
  margin: 150px auto;
  width: 600px;
} 
table{
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}
th, td{
  padding: 5px;
}
thead {
  background-color: rgb(95, 250, 48);
  border-bottom: solid 5px #218b38;
  color: white;
}
tr:nth-child(even) {
  background-color: #ddd;
}
tr:hover td{
  background-color: #369681;
  color: white;
}
select {
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
 
}
.MaleFemale {
  flex-direction: row;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  
} 
#threePage{
  display: none;
}
.imagThreePage{
background-image:url(./Images/medalists.png);
background-repeat:no-repeat;
 background-attachment: fixed;
background-size: cover;
background-position: center center;
min-height: 100vh;
width: 100%;
height: 100%;
overflow: hidden;
justify-content: center;
object-fit: cover;
}
/* Estilo p la donut grafica*/
 #donutchart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
} 
.chart {
 background-attachment: fixed;
 background-size: cover;
 background-position: center center;
 overflow: hidden;
 justify-content: center;
 object-fit: cover;
 width: 100%;
 height: 500px;
 position: absolute;
 margin-left: 20%;
 } 
 .buttonReturn {
  border-radius: 10px;
  padding: 10px;
  background-color: red;
  margin-left: 48%;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  width: 12;
} 

@media only screen and (min-width: 600px) {
/*  .sectionTwo {
  display: flex;
  display: column;
  margin: 0;
} */
}

@media only screen and (min-width: 768px) {
   .sectionTwo {
    display: flex;
    display: row;
  } 
  .logo{
    width: 100%;
    height: 80%;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .Brasil2016{
    margin-left: 50%;
    width: 100%;
    height: 80%;
    margin-bottom: 1px;  
  }
  h1{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 1px;
    color: rgb(201, 79, 8);
    font-style: italic;
  }
  #buttonOlympics{
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    color: white;
   margin-left: 45%;
  } 
  #donutchart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 600px;
    margin-left: 20%;
  }
}